#About {
  /* background-color: papayawhip; */
  padding: 12rem 10rem 10rem;
}

.About-head {
  margin: 0 auto 10rem;
  width: fit-content;
  color: black;
  text-align: center;
}

.About-sub-title{
  margin: 0;
  font-family: Pretendard JP;
  font-weight: 200;
  text-align: left;
}

.About-title{
  margin: 0.5rem 0 3rem;
  font-family: SBAggroB;
  font-weight: 700;
  font-style: normal;
  /* font-family: "Galmuri11", sans-serif; */
  font-size: 4rem;
  line-height: 1.25;
  text-align: left;
}

.About-title span{
  font-family: 'Cafe24Meongi-W-v1.0';
  font-size: 5rem;
}

.About-desc{
  font-family: Pretendard JP;
  font-style: normal;
  font-weight: 100;
  /* font-family: 'HancomSans-Light'; */
  font-size: 1.1rem;
  line-height: 1.5;
}

.About-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0 4rem 0;
  text-align: center;
}

.About-my-img {
  display: inline-block;
  background-size: cover;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  padding: 0 3rem;
}

.About-me-Container{
  display: flex;
  flex-direction: column;
  height: 100%;
}