.About-info-components {
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  width: 23rem;
}

.About-icons{
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem 2rem;
}

.About-me-info{
  display: inline-block;
  flex-grow: 1;
}

.About-infos{
  display: flex;
  justify-content: space-around;
}

.About-me-title {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.About-me-content {
  font-size: 1rem;
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-weight: 200;
  white-space: pre-wrap;
}