body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
  /* -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none; */
}

.App {
	padding: 10rem 10rem 10rem;
}

.App-h1 {
  display: block;
  font-family: SUIT;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0 1.5rem;
}

.App-hr {
  width: 13rem;
  margin: 0 auto 3rem;
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Meongi-W-v1.0';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-W-v1.0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard JP Black'), url('../css/woff2/PretendardJP-Black.woff2') format('woff2'), url('../css/woff/PretendardJP-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard JP ExtraBold'), url('../css/woff2/PretendardJP-ExtraBold.woff2') format('woff2'), url('../css/woff/PretendardJP-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard JP Bold'), url('../css/woff2/PretendardJP-Bold.woff2') format('woff2'), url('../css/woff/PretendardJP-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard JP SemiBold'), url('../css/woff2/PretendardJP-SemiBold.woff2') format('woff2'), url('../css/woff/PretendardJP-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard JP Medium'), url('../css/woff2/PretendardJP-Medium.woff2') format('woff2'), url('../css/woff/PretendardJP-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard JP Regular'), url('../css/woff2/PretendardJP-Regular.woff2') format('woff2'), url('../css/woff/PretendardJP-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard JP Light'), url('../css/woff2/PretendardJP-Light.woff2') format('woff2'), url('../css/woff/PretendardJP-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard JP ExtraLight'), url('../css/woff2/PretendardJP-ExtraLight.woff2') format('woff2'), url('../css/woff/PretendardJP-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard JP';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard JP Thin'), url('../css/woff2/PretendardJP-Thin.woff2') format('woff2'), url('../css/woff/PretendardJP-Thin.woff') format('woff');
}