body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.App {
	padding: 10rem 10vw 10rem;
}

.App-h1 {
  display: block;
  font-family: SUIT;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0 1.5rem;
}

.App-h2 {
	display: block;
  font-family: SUIT;
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  text-align: center;
  margin: 3rem 0 1.1rem;
}

.App-h4 {
	display: block;
  font-family: SUIT;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
}

.App-hr {
  width: 13rem;
  margin: 0 auto 3rem;
}