.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  padding: 0 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 70vw;
  height: 4rem;
  font-family: SUIT;
  font-weight: 200;
}

.navbar-menu {
  margin-left: 52px;
  text-align: right;
}

.navbar-menu a {
  padding-left: 2rem;
  font-size: 1rem;
  text-decoration-line: none;
  color: black;
}

.home-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: SUIT;
  font-weight: 200;
  color: black;
}

.navbar-github {
  margin-right: auto;
  margin-left: 32px;
}