.navbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  padding: 0 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 70vw;
  height: 4rem;
  font-family: SUIT;
  font-weight: 200;
}

.navbar-menu {
  text-align: right;
}

.navbar-menu a {
  padding-left: 2rem;
  font-size: 1rem;
  text-decoration-line: none;
  color: black;
}