#Project {
  margin-top: 8rem;
}

.project-list {
  display: flex;
  justify-content: center;
}

.project-box {
  width: 15rem;
  height: 20rem;
  margin: 0 2rem;
  border-radius: 8px;
  font-family: SUIT;
  box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-box:hover{
  box-shadow: 0 0 28px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0.22);
}

.project-box:hover .standard {
  display: none;
}

.project-box:hover .hover {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.hover {
  display: none;
  font-family: SUIT;
}

.project-hover-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.hover .project-btn {
  margin: 0 3rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: transparent;
  font-size: 1rem;
  font-family: Pretendard JP;
}

.hover .project-btn:hover {
  border-color: rgb(85, 85, 85);
  border-radius: 8px;
  background-color: rgb(85, 85, 85);
  color: white;
}

.hover a {
  color: black;
  text-decoration: none;
}

.project-img {
  width: 100%;
}

.project-title {
  padding: 1rem 1rem 0;
  font-weight: 500;
  font-size: 2rem;
}

.project-content {
  font-family: Pretendard JP;
  padding: 0.2rem 1rem 0;
  font-weight: 200;
  font-size: 1rem;
}

.project-skill {
  position: relative;
  top: 3rem;
  padding: 0 1rem;
  font-size: 0.9rem;
}

#Todo {
  text-align: center;
}

.project-video {
  width: 100%;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 12px;
}