#Project {
  margin-top: 8rem;
  font-family: SUIT;
}

#Project .App-hr {
  margin-bottom: 0;
}

.project-list {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.project-box {
  width: 15rem;
  height: 20rem;
  margin: 3rem 2rem 0;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-box:hover{
  box-shadow: 0 0 28px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0.22);
}

.project-box:hover .standard {
  display: none;
}

.project-box:hover .hover {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.hover {
  display: none;
  font-family: SUIT;
}

.project-hover-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.hover .project-btn {
  margin: 0 3rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: transparent;
  font-size: 1rem;
  font-family: Pretendard JP;
}

.hover .project-btn:hover {
  border-color: rgb(85, 85, 85);
  border-radius: 8px;
  background-color: rgb(85, 85, 85);
  color: white;
}

.hover a {
  color: black;
  text-decoration: none;
}

.project-img {
  width: 100%;
}

.project-title {
  padding: 1rem 1rem 0;
  font-weight: 500;
  font-size: 2rem;
}

.project-content {
  font-family: Pretendard JP;
  padding: 0.2rem 1rem 0;
  font-weight: 200;
  font-size: 1rem;
}

.project-skill {
  position: relative;
  top: 3rem;
  padding: 0 1rem;
  font-size: 0.9rem;
}

#Todo, #Portfolio {
  text-align: center;
}

.project-page {
  font-family: Pretendard JP;
  font-weight: 200;
}

.go-home {
  display: flex;
  width: 6rem;
  padding: 0.5rem 2rem;
  margin: auto;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 48px;
  align-items: center;
  align-content: center;
  text-decoration-line: none;
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.project-page .App-h1 {
  margin-bottom: 0px;
}

.arrow {
  height: 18px;
  padding-left: 8px;
  transform: scaleX(-1);
  line-height: 100%;
}

.project-overview {
  margin: 3rem 0;
  padding: 0 15vw;
  line-height: 180%;
}

.project-video {
  width: 90%;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 12px;
}

.project-page-skill {
  margin: auto;
  width: fit-content;
  color: rgb(133, 133, 133);
}

.project-page-content {
  margin-top: 2rem;
  font-size: 1.1rem;
}

.project-tech, .project-detailed, .future-improvements {
  padding: 0 15vw;
  margin-bottom: 6rem;
  line-height: 180%;
}

.future-improvements .App-h4 {
  font-family: Pretendard JP;
}

.App-h4 + .App-hr {
  margin: 0.5rem auto 1rem;
}