#Skills {
  margin: 5rem 0 0;
  text-align: center;
}

.skill-list {
  margin-bottom: 3rem;
}

.skill-title {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.skill-icon-div {
  margin-top: 1rem;
}

.skill-icon {
  padding: 0 1.4rem;
  width: 6rem;
  height: 6rem;
}