#Skills {
  margin: 5rem 0 0;
  text-align: center;
}

.skill-list {
  margin: 0 13vw 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-box {
  margin: 0 1rem;
  text-align: left;
}

.skill-title {
  font-family: SUIT;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
}

.skill-icon-div {
  margin-top: 1rem;
}

.skill-icon {
  margin-right: 1rem;
  padding: 1rem;
  width: 2vw;
  height: 2vw;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 16px;
}